{{ define "title" }}Categorías - {{ .Site.Title }}{{ end }}

{{ define "main" }}
  <h1>Categorías</h1>
  <ul>
    {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
      <li>
        <h2>{{ $name | title }}</h2>
        <ul>
          {{ range $taxonomy.Pages }}
            <li>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              <small> - {{ .Date.Format "2 January 2006" }}</small>
            </li>
          {{ end }}
        </ul>
      </li>
    {{ end }}
  </ul>
{{ end }}
